/* Tailwind v4 */
@import "tailwindcss";

@theme {
    --font-sans: 'Inter';
}

body {
    font-family: var(--font-sans), serif;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}
